.sidebar-logo {
  display: none;
  height: 60px;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .sidebar-logo {
    display: block;
  }
}

.logo-text{
  display: block;
}
.logo-nav {
display: block;
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .summary-cards {
    flex-direction: column;
  }
  
.logo-text{
  display: none;
}
.logo-nav {
display: none;
}
}
.tab-dash{
  display: flex;
  flex-direction: column;
}